*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    background-color: rgb(79, 75, 75);
    padding: 4rem;
}

.items{
    background-color: rgb(82, 82, 184);
    border: 2px solid black;
    padding: 1rem;
    color: white;
}