*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: grid;
    gap: 1rem;
    background-color: rgb(71, 65, 65);
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item{
    border: 3px solid black;
    background-color: rgb(44, 44, 203);
    color: white;
    padding: 1rem;
}