.box{
    height: 200px;
    width: 200px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: auto; */

    transition: all 3s linear 1s;
}

.box:hover{
    /* transform: rotate(360deg); */
    /* transform: rotate(-45deg); */

    /* transform: scale(2); */
    /* transform: scale(0.5); */

    /* transform: skew(45deg); */

    transform: translate(200px, 200px);
    
}

p{
    font-size: 30px;
    font-weight: bold;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}