*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
}

.navContainer{
    width: 100vw;
    min-height: 50px;
    /* background-color: rgb(26, 26, 49); */
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

nav{
    width: 100%;
}
#navList{
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 15px;
    margin-right: 15px; */
}

#navlogo{
    font-size: 3rem;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

#navItems{
    display: flex;
    gap: 30px;
}

footer {
    width: 100%;
}
.footerBox{
    min-height: 55px;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBox p{
    color: white;
    padding: 10px;
    font-size: 1.3rem;
}

.contentBox{
    width: 70%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox img{
    height: 390px;
    border-radius: 10px;
    transition: all 0.5s linear 0s;
}

.rightBox:hover{
    transform: scale(1.05);
}

.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 3px 20px black;
    border-radius: 20px;
    line-height :0%;
}

.leftBox{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.leftBox h2{
    font-size: 2rem;
}

.ingBox{
    font-size: 1.1rem;
}

.receipeBox {
    font-size: 1.1rem;
}

.rightBox .overLay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.6s linear 0s;
}

.rightBox:hover .overLay{
    opacity: 1;
}
.rightBox .overLay span{
    color: white;
    font-size: 2rem;
}