*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    padding: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    border: 2px solid black;
    padding: 10px;
}