*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(230, 16, 16, 1) 100%, rgba(252, 176, 69, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}  

.card{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.card img{
    width: 100%;
    height: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.textBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 75%;
    text-align: center;
}

#amountBox{
    width: 80%;
    height: 10%;
    background-color: cornflowerblue;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#leftBox{
    /* width: fit-content; */
    height: 100%;
    display: flex;
    gap: 15px;

    align-items: center;
}

.imageBox img{
    height: 2.5rem;
    width: 2.5rem;
}


#paymentButton{
    width: 70%;
    height: 9%;
    background-color: rgb(15, 15, 68);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

#cancleBox a{
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-weight: bold;
    font-size: larger;
}