*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(230, 16, 16, 1) 100%, rgba(252, 176, 69, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}   

.card{
    width: 350px;
    height: 500px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 18px;
    align-items: center;
}

.card img{
    width: 100%;
    height: 60%;
}

.card h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.card p{
    font-size: 1.1rem;
    font-weight: bold;
}