*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 49%, rgba(15, 19, 77, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 400px;
    width: 800px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftBox{
    height: 100%;
    width: 50%;
    background: #881a96;
    background: linear-gradient(90deg, rgba(136, 26, 150, 1) 0%, rgba(136, 26, 150, 1) 35%, rgba(136, 26, 150, 1) 100%);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    
    align-items: center;
    text-align: center;
    color: white;
}

.leftBox h2{
    font-size: 1.9rem;
}

.leftBox p{
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-align: justify;
}

.textBox{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.rightBox{
    height: 100%;
    width: 50%;
    background: url('eco.png');
    background-size: cover;
}