*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(79, 72, 72);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 0.4rem;
    padding: 4rem;
    border: 2px solid white;
    /* justify-items: end; */
    /* align-items: stretch; */
    place-items: center;
}

.item{
    height: 100px;
    width: 100px;
    background-color: rgb(31, 205, 37);
    border: 5px solid blanchedalmond;

    /* justify-self: center; */
    /* align-self: center; */
    /* place-self: center; */
}